{% extends "base.html" %}

{% load static %}

{% block title %}Вход{% endblock title %}

{% block content %}
<h1 style="text-align: center;">Вход</h1>
<div style="width: 1000px; margin: 0 auto;">
    <form method="post" style="display: flex; flex-direction: column; width: 600px; margin: 0 auto;">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Имя пользователя" rquired>
        <input type="password" name="password" placeholder="Пароль" rquired>

        <button type="submit">Войти</button>
    </form>

</div>
{% endblock %}